In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#step 2-reading the dataset
 
dataset=pd.read_csv(r"Downloads\churn_Modelling.csv")

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography           True
Gender             False
Age                 True
Tenure             False
Balance             True
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [5]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,225,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,629,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,NaN,Female,43.0,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44.0,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50.0,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29.0,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,NaN,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27.0,2,134603.88,1,1,1,71725.73,0

In [6]:
dataset['Geography'].fillna(dataset['Geography'].mode()[0],inplace=True)
dataset['Age'].fillna(dataset['Age'].mean(),inplace=True)
dataset['Balance'].fillna(dataset['Balance'].median(),inplace=True)

In [7]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.000000,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,225,Spain,Female,41.000000,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,629,France,Female,42.000000,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.000000,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,France,Female,43.000000,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44.000000,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50.000000,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29.000000,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,38.921292,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27.000000,2,134603.88,1,1,1,71725.73,0

In [8]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [9]:
#textual data to numerical data

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset['Geography']=le.fit_transform(dataset['Geography'])

In [10]:
dataset['Gender']=le.fit_transform(dataset['Gender'])

In [11]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42.000000,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,225,2,0,41.000000,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,629,0,0,42.000000,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39.000000,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,0,0,43.000000,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,2,1,44.000000,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,0,1,50.000000,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,1,0,29.000000,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,0,1,38.921292,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,0,1,27.000000,2,134603.88,1,1,1,71725.73,0

In [12]:
#to grab the values-splitting the dataset step 5
x=dataset.iloc[:,3:13].values
#.values because onehotencoder takes only arrays
#hence dataset is being converted to numpy arrays

In [13]:
y=dataset.iloc[:,13].values

In [14]:
x

array([[6.1900000e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [2.2500000e+02, 2.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [6.2900000e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [7.0900000e+02, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [7.7200000e+02, 1.0000000e+00, 1.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [7.9200000e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [15]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [16]:
type(x)

numpy.ndarray

In [17]:
x.shape

(10000, 10)

In [18]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()
z=one.fit_transform(x[:,1:2]).toarray()

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [19]:
x=np.delete(x,1,axis=1)
x

array([[6.1900000e+02, 0.0000000e+00, 4.2000000e+01, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [2.2500000e+02, 0.0000000e+00, 4.1000000e+01, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [6.2900000e+02, 0.0000000e+00, 4.2000000e+01, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [7.0900000e+02, 0.0000000e+00, 3.6000000e+01, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [7.7200000e+02, 1.0000000e+00, 4.2000000e+01, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [7.9200000e+02, 0.0000000e+00, 2.8000000e+01, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [20]:
x=np.concatenate((z,x),axis=1)

In [21]:
z

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [22]:
#due to delete and concatenate it has changed from 10 to 12
#as geography is replaced by z 1 2 
x.shape

(10000, 12)

In [23]:
y.shape

(10000,)

In [24]:
#split the data in to train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

x_test.shape

In [25]:
y_test.shape

(2000,)

In [26]:
x_train.shape

(8000, 12)

In [27]:
y_train.shape

(8000,)

x=np.array([1,2,3,4,5,6,7,8,9])
y=np.array([0,1,0,1,0,1,0,1,0])

In [28]:
from sklearn.model_selection import train_test_split
for i in range(5):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
    print("x without random state",i,x_train)
for i in range(5):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
    print("x without random state",i,x_train)

x without random state 0 [[1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 8.8146900e+03]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 9.4951270e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 7.9775190e+04]
 ...
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 4.6416360e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 1.2996456e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 7.0954410e+04]]
x without random state 1 [[0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 3.9356380e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 7.3470980e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 1.7991398e+05]
 ...
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.7864273e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.9990932e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 7.0403650e+04]]
x without random state 2 [[1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 2.4938840e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.3645819e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 3.5342330e+04]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 4.0467820e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 2.1852910e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.9470081e+05]]
x without random state 3 [[0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 5.7164190e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 3.7577660e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.7252451e+05]
 ...
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.8792943e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 7.8397240e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 5.9115770e+04]]
x without random state 4 [[1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.8458168e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.6637081e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.2639601e+05]
 ...
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 8.9099180e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.6112567e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.8901624e+05]]
x without random state 0 [[0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.6383064e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 5.7098000e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8563076e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8142987e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.4875016e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1885526e+05]]
x without random state 1 [[0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.6383064e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 5.7098000e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8563076e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8142987e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.4875016e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1885526e+05]]
x without random state 2 [[0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.6383064e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 5.7098000e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8563076e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8142987e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.4875016e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1885526e+05]]
x without random state 3 [[0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.6383064e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 5.7098000e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8563076e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8142987e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.4875016e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1885526e+05]]
x without random state 4 [[0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.6383064e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 5.7098000e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8563076e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.8142987e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.4875016e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1885526e+05]]

In [29]:
x_train[:,5:10]

array([[3.4000000e+01, 5.0000000e+00, 0.0000000e+00, 2.0000000e+00,
        1.0000000e+00],
       [4.2000000e+01, 1.0000000e+00, 7.5681520e+04, 1.0000000e+00,
        1.0000000e+00],
       [2.9000000e+01, 2.0000000e+00, 1.1236734e+05, 1.0000000e+00,
        1.0000000e+00],
       ...,
       [3.5000000e+01, 5.0000000e+00, 1.6127405e+05, 2.0000000e+00,
        1.0000000e+00],
       [3.8000000e+01, 9.0000000e+00, 0.0000000e+00, 2.0000000e+00,
        1.0000000e+00],
       [4.8000000e+01, 1.0000000e+00, 1.0807633e+05, 1.0000000e+00,
        1.0000000e+00]])

In [30]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [31]:
x_train

array([[-1.0148604 , -0.5698444 ,  1.74367544, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.0148604 ,  1.75486502, -0.57350122, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98535719, -0.5698444 , -0.57350122, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98535719, -0.5698444 , -0.57350122, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.0148604 , -0.5698444 ,  1.74367544, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.0148604 ,  1.75486502, -0.57350122, ...,  0.64259497,
        -1.03227043,  0.32472465]])

scaling = value - mean /std deviation

In [32]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.503200,0.746100,0.545700,38.921292,5.012800,76485.406478,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.734833,0.827468,0.497932,10.487683,2.892174,62397.226313,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,225.000000,0.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,0.000000,0.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,0.000000,1.000000,37.000000,5.000000,97188.620000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,1.000000,1.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,2.000000,1.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [33]:
x_train

array([[-1.0148604 , -0.5698444 ,  1.74367544, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.0148604 ,  1.75486502, -0.57350122, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98535719, -0.5698444 , -0.57350122, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98535719, -0.5698444 , -0.57350122, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.0148604 , -0.5698444 ,  1.74367544, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.0148604 ,  1.75486502, -0.57350122, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [34]:
42-38.9/10

38.11

In [36]:
#step1:importing libraries
import keras
from keras.layers import Dense#used for input layer output layer and hidden layer
from keras.models import Sequential#type of model

Using TensorFlow backend.

In [37]:
#step2:initializing the model
model=Sequential()

In [38]:
#step3:add input layer
model.add(Dense(units=12,init="random_uniform",activation="relu"))#units are how many inputs we are going to give i.e 12 inputs are ther in input layer

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=12, activation="relu", kernel_initializer="random_uniform")`

In [40]:
#4.adding hidden layer
model.add(Dense(units=24,init="random_uniform",activation="relu"))

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=24, activation="relu", kernel_initializer="random_uniform")`

In [41]:
#5.adding output layer
model.add(Dense(units=1,init="random_uniform",activation="sigmoid"))

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=1, activation="sigmoid", kernel_initializer="random_uniform")`

In [44]:
#step6:configure the learning process
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])
#optimizer is the gradient ie mini batch 
#loss is the cost function
#metrice for accuracy from confusion matrix

WARNING:tensorflow:From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [45]:
model.fit(x_train,y_train,batch_size=32,epochs=100)
#every epho the rows we are considering as 32 rows for it from x_train and y_train
#due to batch wise 86%
#batch size=8,16,32,128,256,1204

WARNING:tensorflow:From C:\Users\user\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.5160 - accuracy: 0.7954
Epoch 2/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.4314 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.4256 - accuracy: 0.7970
Epoch 4/100
8000/8000 [==============================] - 0s 61us/step - loss: 0.4206 - accuracy: 0.8201
Epoch 5/100
8000/8000 [==============================] - 0s 51us/step - loss: 0.4161 - accuracy: 0.8255
Epoch 6/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.4141 - accuracy: 0.8294
Epoch 7/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.4107 - accuracy: 0.8321
Epoch 8/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.4081 - accuracy: 0.8331
Epoch 9/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.4061 - accuracy: 0.8336
Epoch 10/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.4046 - accuracy: 0.8357
Epoch 11/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.4024 - accuracy: 0.8347
Epoch 12/100
8000/8000 [==============================] - 0s 51us/step - loss: 0.4020 - accuracy: 0.8347
Epoch 13/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.4001 - accuracy: 0.8371
Epoch 14/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.3997 - accuracy: 0.8364
Epoch 15/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.3993 - accuracy: 0.8356
Epoch 16/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3986 - accuracy: 0.8360
Epoch 17/100
8000/8000 [==============================] - 0s 52us/step - loss: 0.3979 - accuracy: 0.8346
Epoch 18/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.3969 - accuracy: 0.8356
Epoch 19/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3968 - accuracy: 0.8366
Epoch 20/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3967 - accuracy: 0.8360
Epoch 21/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3956 - accuracy: 0.8367
Epoch 22/100
8000/8000 [==============================] - 0s 51us/step - loss: 0.3950 - accuracy: 0.8374
Epoch 23/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.3952 - accuracy: 0.8376
Epoch 24/100
8000/8000 [==============================] - 0s 57us/step - loss: 0.3951 - accuracy: 0.8364
Epoch 25/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3947 - accuracy: 0.8356
Epoch 26/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.3943 - accuracy: 0.8379
Epoch 27/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.3944 - accuracy: 0.8372
Epoch 28/100
8000/8000 [==============================] - 1s 64us/step - loss: 0.3932 - accuracy: 0.8375
Epoch 29/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.3932 - accuracy: 0.8378
Epoch 30/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.3919 - accuracy: 0.8386
Epoch 31/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3908 - accuracy: 0.8382
Epoch 32/100
8000/8000 [==============================] - 0s 51us/step - loss: 0.3881 - accuracy: 0.8388
Epoch 33/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3820 - accuracy: 0.8424
Epoch 34/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.3725 - accuracy: 0.8487
Epoch 35/100
8000/8000 [==============================] - 0s 59us/step - loss: 0.3653 - accuracy: 0.8499
Epoch 36/100
8000/8000 [==============================] - 0s 53us/step - loss: 0.3596 - accuracy: 0.8521
Epoch 37/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3549 - accuracy: 0.8553
Epoch 38/100
8000/8000 [==============================] - 0s 56us/step - loss: 0.3520 - accuracy: 0.8555
Epoch 39/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3508 - accuracy: 0.8575
Epoch 40/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3488 - accuracy: 0.8577
Epoch 41/100
8000/8000 [==============================] - 0s 47us/step - loss: 0.3469 - accuracy: 0.8577
Epoch 42/100
8000/8000 [==============================] - 0s 48us/step - loss: 0.3466 - accuracy: 0.8587
Epoch 43/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3451 - accuracy: 0.8581
Epoch 44/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.3451 - accuracy: 0.8579
Epoch 45/100
8000/8000 [==============================] - 1s 64us/step - loss: 0.3446 - accuracy: 0.8584
Epoch 46/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.3433 - accuracy: 0.8562
Epoch 47/100
8000/8000 [==============================] - 0s 51us/step - loss: 0.3433 - accuracy: 0.8581
Epoch 48/100
8000/8000 [==============================] - 0s 59us/step - loss: 0.3426 - accuracy: 0.8585
Epoch 49/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3416 - accuracy: 0.8604
Epoch 50/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3414 - accuracy: 0.8583
Epoch 51/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3412 - accuracy: 0.8605
Epoch 52/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3403 - accuracy: 0.8590
Epoch 53/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3405 - accuracy: 0.8614
Epoch 54/100
8000/8000 [==============================] - 0s 59us/step - loss: 0.3401 - accuracy: 0.8593
Epoch 55/100
8000/8000 [==============================] - 0s 56us/step - loss: 0.3391 - accuracy: 0.8581
Epoch 56/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3382 - accuracy: 0.8609
Epoch 57/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3382 - accuracy: 0.8606
Epoch 58/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.3381 - accuracy: 0.8618
Epoch 59/100
8000/8000 [==============================] - 0s 60us/step - loss: 0.3377 - accuracy: 0.8612
Epoch 60/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3372 - accuracy: 0.8611
Epoch 61/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.3379 - accuracy: 0.8612
Epoch 62/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.3374 - accuracy: 0.8620
Epoch 63/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.3362 - accuracy: 0.8608
Epoch 64/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3362 - accuracy: 0.8614
Epoch 65/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3364 - accuracy: 0.8601
Epoch 66/100
8000/8000 [==============================] - 1s 99us/step - loss: 0.3358 - accuracy: 0.8622
Epoch 67/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.3346 - accuracy: 0.8626
Epoch 68/100
8000/8000 [==============================] - 0s 62us/step - loss: 0.3352 - accuracy: 0.8616
Epoch 69/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3348 - accuracy: 0.8625
Epoch 70/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3345 - accuracy: 0.8622
Epoch 71/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.3347 - accuracy: 0.8614
Epoch 72/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.3345 - accuracy: 0.8615
Epoch 73/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3336 - accuracy: 0.8626
Epoch 74/100
8000/8000 [==============================] - 0s 47us/step - loss: 0.3340 - accuracy: 0.8655
Epoch 75/100
8000/8000 [==============================] - 0s 48us/step - loss: 0.3335 - accuracy: 0.8648
Epoch 76/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.3328 - accuracy: 0.8634
Epoch 77/100

8000/8000 [==============================] - 1s 110us/step - loss: 0.3328 - accuracy: 0.8644
Epoch 78/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3331 - accuracy: 0.8622
Epoch 79/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3326 - accuracy: 0.8636
Epoch 80/100
8000/8000 [==============================] - 0s 57us/step - loss: 0.3333 - accuracy: 0.8615
Epoch 81/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.3315 - accuracy: 0.8636
Epoch 82/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3328 - accuracy: 0.8643
Epoch 83/100
8000/8000 [==============================] - 0s 51us/step - loss: 0.3314 - accuracy: 0.8635
Epoch 84/100
8000/8000 [==============================] - 1s 65us/step - loss: 0.3318 - accuracy: 0.8633
Epoch 85/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3309 - accuracy: 0.8639
Epoch 86/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3312 - accuracy: 0.8681
Epoch 87/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3319 - accuracy: 0.8643
Epoch 88/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3321 - accuracy: 0.8631
Epoch 89/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3312 - accuracy: 0.8658
Epoch 90/100
8000/8000 [==============================] - 0s 59us/step - loss: 0.3313 - accuracy: 0.8649
Epoch 91/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3313 - accuracy: 0.8656
Epoch 92/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.3303 - accuracy: 0.8654
Epoch 93/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3313 - accuracy: 0.8665
Epoch 94/100
8000/8000 [==============================] - 1s 64us/step - loss: 0.3313 - accuracy: 0.8646
Epoch 95/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3310 - accuracy: 0.8652
Epoch 96/100
8000/8000 [==============================] - 0s 51us/step - loss: 0.3311 - accuracy: 0.8643
Epoch 97/100
8000/8000 [==============================] - 0s 56us/step - loss: 0.3307 - accuracy: 0.8649
Epoch 98/100
8000/8000 [==============================] - 0s 51us/step - loss: 0.3310 - accuracy: 0.8646
Epoch 99/100
8000/8000 [==============================] - 0s 56us/step - loss: 0.3317 - accuracy: 0.8631
Epoch 100/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.3310 - accuracy: 0.8636

In [46]:
y_pred=model.predict(x_test)

In [47]:
y_pred#as we gave sigmoid we got values from between 0 to 1

array([[0.20005289],
       [0.3151983 ],
       [0.11418912],
       ...,
       [0.2422669 ],
       [0.13777032],
       [0.20313111]], dtype=float32)

In [48]:
y_pred=(y_pred>0.5)
#>0.5 =1
#<0.5=1
#because of sigmoid function 
#we gave so apply threshold to get as o or 1

In [49]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [50]:
y_test

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [51]:
dataset.head(1)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42.0,2,0.0,1,1,1,101348.88,1

In [52]:
y_p=model.predict(sc.transform(np.array([[1,0,0,619,0,42,8,12345,1,1,1,1234567]])))
#if we apply scaling to the inputs we need to do this to convert
#to original form
#we can use np.array or may not use np.array

In [53]:
y_p

array([[0.00258024]], dtype=float32)

In [54]:
y_p=y_p>0.5

In [55]:
y_p
#he will leave the office

array([[False]])

In [59]:
keras.__version__

'2.3.1'

In [58]:
import tensorflow
tensorflow.__version__

'1.14.0'

In [60]:
import keras
keras.__version__

'2.3.1'